<web-app>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lbeenServlet</servlet-name>
        <servlet-class>lb.lbeenServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>iocpackage</param-name>
            <param-value>pro</param-value>
        </init-param>
        <init-param>
            <param-name>dbconfigpath</param-name>
            <param-value>/conf/db.properties</param-value>
        </init-param>
        <init-param>
            <param-name>entityPackage</param-name>
            <param-value>pro</param-value>
        </init-param>
        <init-param>
            <param-name>loginpage</param-name>
            <param-value>login/login.html</param-value>
        </init-param>
        <init-param>
            <param-name>responsehandler</param-name>
            <param-value>lb.plugin.BeetlResponseHandler</param-value>
        </init-param>
        <init-param>
            <param-name>exceptionhandler</param-name>
            <param-value>pro.common.ExceptionHandlerImpl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>lbeenServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <display-name>lbeen</display-name>
    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>
</web-app>
